<h1>MUSIC WALL : Tracks</h1>
<hr/>

<% @tracks.each do |track| %>
  <div>
    <h3><a href="/tracks/<%= track.id %>"><%= track.title %></a> <small>(by: <%= track.author %>)</small>
    </h3>
    <!-- <p> 
    </p> -->
  </div>
<% end %>

<hr/>
<a href="/tracks/new"><strong>Add more tracks +</strong></a>