<h1>Welcome to the MUSIC WALL</h1>
<h2><small>"You are now witnessing the strength of street knowledge"</small></h2>
<h3><small>- Dr. Dre</small></h3>
<hr/>
<% unless session[:user_id] %>
  <h2>NEW HERE? :)</h2>
  <%= erb :'_signup' %>
<% end %>